
	*{
		margin: 0;
		padding: 0;
		text-decoration: none;

	}
	body{
		background-color: #eff0f4;
		font-size: 62.5%;
	}
	.header{
		min-width:100px
	}
	.header div{
		background-color: #5fc0cd;
		font-size:1.3rem;
		color: #fff;
		line-height: 4rem;
		padding: 0 1.5rem;
	}
	.hLeft{
		float: left;

	}	
	.hRight{
		float: right;
	}
	.hMiddle{
		text-align: center;
	}
	.container div{
		width: 100%;
		background-color: #fff;
		    margin-top: 0.7rem;
	}
	.container div input{
		color: #ccc;
		font-size: 2em;
		line-height: 4rem;
		border:none;
		outline:none;
		padding-left: 1.5rem;
	}
	.footer{
		background-color: #eff0f4;
		margin-top: 1rem

	}

	.footer button{
		width: 100%;
		line-height: 4rem;
		background-color: #5fc0cd;
		font-size: 1.3rem;
		text-align: center;
		color: #fff;
		-webkit-appearance: none;
	    outline: none;
	    border: none;
		
	}
	.tex:before{
		content: "";
		background-image: url('../images/task4.png');
		background-position: 5px -15px;
		/*background-color: #f60;*/
		display: inline-block;
		height: 2.6rem;
		width:2rem;
		vertical-align: middle;
		border-right:1px solid #ccc;
		padding-right: 1rem;
		margin-bottom: 9px;

	}
	.tex:nth-child(2):before{
		background-position: -41px -15px;
	}
	a{
		color: #5fc0cd;
		font-size: 1rem;
		float: right;
	}

