
	*{
		margin: 0;
		padding: 0;
		text-decoration: none;
	}
	body{
		background-color: #eff0f4;
		font-size: 62.5%;
	}
	.header{
		min-width:100px
	}
	.header div{
		background-color: #5fc0cd;
		font-size:1.3rem;
		color: #fff;
		line-height: 3rem;
		padding: 0 1.5rem;
	}
	.hLeft{
		float: left;

	}	
	.hRight{
		float: right;
	}
	.hMiddle{
		text-align: center;
	}
	.container div{
		width: 100%;
		background-color: #FFF;
		height: 3rem;
	 	margin-top: 0.7rem;
	}

	.container div input{
		color: #ccc;
		font-size: 2em;
		line-height: 3rem;
		border:none;
		outline:none;
		/*padding-left: 1.5rem;*/
	 	vertical-align: middle;

	}
	.footer{
		background-color: #eff0f4;
		margin-top: 1rem

	}

	.footer button{
		width: 100%;
		line-height: 3rem;
		background-color: #5fc0cd;
		font-size: 1.3rem;
		text-align: center;
		color: #fff;
		-webkit-appearance: none;
	    outline: none;
	    border: none;
		
	}
	.tex:before{
		content: "";
		background: url('../images/task4.png')no-repeat;
		background-position: 11px -8px;
		background-size: 150%;
		content: "";
	    width: 50px;
	    height: 40px;
	    border-right: 1px solid #ccc;
	    margin-right: 10px;
	    display: inline-block;
	    vertical-align: middle;

	}
	.tex:nth-child(2):before{
		background-position: -25px -8px;
	}
	a{
		color: #5fc0cd;
		font-size: 1rem;
		float: right;
	}

